@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
    background-color: transparent;
    height: 70px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    z-index: 9200;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color 0.7s ease, box-shadow 0.7s ease;
    color: #E6E6E6;
}


.headerClr{
    background-color: #E6E6E6;
    border-bottom: 0.5px solid black;
}

.logo {
    border-radius: 12px;
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.714);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.titleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobileTitle{
    font-size: 31px;
    font-family: 'Bebas Neue';
    letter-spacing: -1;
}

.title {
    display: none;
    font-family: 'Bebas Neue';
    letter-spacing: -1.5px;
    font-size: 45px;
    margin: 0 auto;
    cursor: pointer;
}


.iconWrapper{
    display: flex;
    align-items: center;
    gap: 12px;
}

.gitIcon{
    cursor: pointer;
    display: flex;
    gap: 14px;  
    padding-top: 4px;
}


.menuIcon{
    cursor: pointer;
}
.menuIconClr,
.gitIconClr,
.titleClr,
.mobileTitleClr{
    color: black;
}


    /* medias  */
@media (min-width: 481px) {

    .header{
        height: 90px;
    }

    .title{
        display: block;
    }

    .mobileTitle{
        display: none;
    }

    .logo{
        height: 70px;
        width: 70px;
    }
}

@media (hover:hover) and (pointer: fine) {
    .logo:hover {
        transform: translateY(-3px);
    }
    .header:hover{
        background-color: #E6E6E6;
        color: black;
    }
    
    .header:hover .menuIcon {
        color: black;
    }
}

@media (min-width: 900px) {
    .menuIcon{
        display: none;   
    }
    .gitIcon{
        display: none;
    }

}