.header {
    background-color: transparent;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    z-index: 9200;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color 0.7s ease, box-shadow 0.7s ease;
}


.headerClr{
    background-color: #4c6153;
    box-shadow: 0.5px 0.2px 2px black;
}

.logo {
    border-radius: 12px;
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.714);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.titleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mobileTitle{
    color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -1;
}

.title {
    display: none;
    color: white;
    letter-spacing: 1px;
    cursor: default;
}

.iconWrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.gitIcon{
    cursor: pointer;
    color: white;
}

.menuIcon{
    cursor: pointer;
    color: white;
}


    /* medias  */
@media (min-width: 481px) {

    .header{
        height: 90px;
    }

    .title{
        display: block;
        font-size: 35px;
        margin: 0 auto;
    };

    .mobileTitle{
        display: none;
    }

    .logo{
        height: 70px;
        width: 70px;
    };
}

@media (hover:hover) and (pointer: fine) {
    .logo:hover {
        transform: translateY(-3px);
    }
    .header:hover{
        background-color: #3F4F44;
        box-shadow: 0.5px 0.5px 4px black;
    }
}

@media (min-width: 900px) {
    .menuIcon{
        display: none;   
    }
    .gitIcon{
        display: none;
    }
}