.header {
    background-color: #3F4F44;
    height: 70;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0.5px 0.5px 4px black;
}


.logo {
    border-radius: 12px;
    box-shadow: 1px 2px 4px  rgba(0, 0, 0, 0.714);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.titleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    display: none;
    color: #d7b89e;
    letter-spacing: 1px;
    cursor: default;
    text-shadow: 0 1px 1px rgb(148, 133, 133);
}

@media (min-width: 481px) {

    .header{
        height: 90px;
    }

    .title{
        display: block;
        font-size: 35px;
        margin: 0 auto;
    };

    .logo{
        height: 70px;
        width: 70px;
    };
}

@media (hover:hover) and (pointer: fine) {
    .logo:hover {
        transform: translateY(-3px);
    }
}

@media (min-width: 900px) {
    .menuIcon{
        display: none;
        
    }
}