.footer {
    height: auto;
    background: linear-gradient(to top, #111, #1e1e1e);
    margin-top: 90px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }
  
  .contactDiv {
    color: #e6e6e6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
  }
  
  .contactDiv span:nth-child(1) {
    cursor: pointer;
  }
  
  .locationDiv {
    color: #e6e6e6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .productsDiv {
    color: #e6e6e6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
  }
  
  .contactTitle,
  .locationTitle,
  .productsTitle {
    font-size: 25px;
  }
  