.cardWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border-radius: 12px; */
    overflow: hidden;
    /* background: #fff; */
    /* padding: 12px; */
    cursor: pointer;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  .card:hover .iconWrap{
    transform: translateX(0);
    opacity: 1;
  }
  
  .image {
    position: relative;
    width: 100%;
    height: 390px; 
    object-fit: cover;
    overflow: hidden;
  }
  
  .card span {
    font-size: 18px;
    color: #333;
    margin: 8px 12px;
  }
  
  
  .iconWrap{
    position: absolute;
    right: 30px;
    top: 25px;
    opacity: 0;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(20);
    transition: all 0.5s ease;
}


.shopCart:hover{
    color: grey;
}
.search:hover{
    color: grey;
}


@media (max-width: 600px) {
    .card{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        /* border-bottom: 1px solid black; */
    }
    .cardWrap{
        grid-template-columns: minmax(90vw, 1fr);
        padding: 0;
        gap: 40px;
        margin: 30px auto;
    }
    .card:hover {
        background-color: transparent !important;
        box-shadow: none !important;
        transform: none !important;
        cursor: default;
    }
    .image{
        height: 390px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .image{
        height: 500px;
    }
}