.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainDiv h1 {
    font-size: 25px;
    max-width: 800px; 
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 600px) {
    .mainDiv h1{
        font-size: 40px;
    }
}