
html,
body {
  min-height: 500vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #DCD7C9;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}