.mainWrapper{
    display: flex;
    flex-direction: column;
    /* margin-top: 90px; */
    overflow: hidden;
}

.secondCont{
    margin-top: 150px;
}

.uparrow{
    position: fixed;
    bottom: 100;
    right: 60;
    background-color: #3f4f4468;
    border-radius: 50%;
    padding: 8px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: white;
    z-index: 9999;
}
.uparrow:hover{
    background-color: #3f4f449c;
}

@media (max-width: 480px) {
    .secondCont{
        margin-top: 100px;
    }
    .uparrow{
        width: 40px;
        height: 40px;
        right: 50;
        bottom: 80;
    }
}