.mainWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
@media (max-width: 480px) {
    .mainWrapper{
        margin-top: 70px;
    }
}

/* .firstContent{
    background-color: red;
} */