.imaged{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: imgEffect 0.8s ease-out;
    gap: 20px;
    filter: brightness(80%);
}

.title{
    position: absolute;
    top: 20;
    font-size: 30px;
    color: #DCD7C9;
    left: 10;
}

.arrow{
    color: white;
    width: 70px;
    cursor: pointer;
    transform: scaleY(0.8);
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.numberic{
    color: white;
    font-size: 20px;
}

.switcher{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 20px;
    position: absolute;
}

.scrollArrow{
    position: absolute;
    color: white;
    cursor: pointer;
    height: 70px;
    bottom: 14%;
    right: 7%;
}



@keyframes imgEffect {
    from{
        opacity: 0.6;
        transform: scale(1.03);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 480px) and (max-width: 900px) {
    .imaged{
        height: 100vh;
    }
}

@media (max-width: 480px) {
    .imaged{
        height: 90vh;
    }
    .switcher{
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-between;
    }
}